{% extends 'site/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const SESSION_ID = '{{ sessionId }}';
    </script>

    {{ encore_entry_script_tags('confirm-collaboration') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('confirm-collaboration') }}
{% endblock %}

{% block content %}
    <div class="container mt-30">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="alert alert-success text-center">{{ 'Session is successfully added to your account'|trans }}</div>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{{ env('UI_HOST') }}">{{ 'Go to my sessions'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div id="confirm-body"></div>
            </div>
        </div>
    </div>
{% endblock %}