{% extends 'site/layout.html.twig' %}

{% block content %}
    <div class="container mt-30">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h6>{{ 'Contact us'|trans }}</h6>
                    </div>
                    <div class="card-body">
                        {% if not app.request.query.has('success') %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="col-md-6 col-12">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-12 mt-3">
                                {{ form_row(form.message) }}
                            </div>
                            <div class="col-12 text-right mt-3">
                                {{ form_row(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                        {% else %}
                            <div class="alert alert-success">{{ 'Thank you for your application. We will response to you as fast as possible.'|trans }}</div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {{ 'Our email'|trans }}: <a href="mailto:webutonlabs@gmail.com">webutonlabs@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}