{% extends 'site/layout.html.twig' %}

{% block content %}
    <div class="container mt-30">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <h1 class="text-center">{{ app.session.get('error.code') }}</h1>
            </div>
            <div class="col-12">
                <h1 class="text-center">{{ app.session.get('error.message') }}</h1>
            </div>
        </div>
    </div>
{% endblock %}