{% extends 'site/layout.html.twig' %}

{% block nav_faq %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h3 class="text-center">{{ 'How can i delete my account?'|trans }}</h3>
        </div>
        <div class="col-12 mt-3">
            <div class="card shadow-sm text-center">
                <div class="card-header">
                    {{ 'Step'|trans }} 1
                </div>
                <div class="card-body">
                    {{ 'Authorize (if not logged in yet)'|trans}} <a target="_blank" href="{{ path('user_login') }}">{{ 'here'|trans }}</a>.
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="card shadow-sm text-center">
                <div class="card-header">
                    {{ 'Step'|trans }} 2
                </div>
                <div class="card-body">
                    <div>{{ 'Go to user settings following'|trans }} <a target="_blank" href="{{ env('UI_HOST') ~ '/user' }}">{{ 'this link'|trans }}</a>.</div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="card shadow-sm text-center">
                <div class="card-header">
                    {{ 'Step'|trans }} 3
                </div>
                <div class="card-body">
                    <div>{{ 'Scroll down to danger zone'|trans }} => {{ 'click <Delete account>'|trans }} => {{ 'confirm deletion by clicking <Yes>'|trans }}</div>
                    <div class="mt-2">
                        <img class="img-thumbnail img-fluid" src="{{ asset('images/how_to_delete_account/en/1.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}