{% extends 'site/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const NAME_CANNOT_BE_EMPTY = '{{ 'Name cannot be empty'|trans }}';
        const COMMENT_CANNOT_BE_EMPTY = '{{ 'Comment cannot be empty'|trans }}';
        const FEEDBACK_CREATED = '{{ 'Feedback created successfully'|trans }}';
        const YOUR_NAME = '{{ 'Your name'|trans }}';
        const YOUR_RATING = '{{ 'Your rating'|trans }}';
        const YOUR_MESSAGE = '{{ 'Your message'|trans }}';
        const LEAVE_FEEDBACK = '{{ 'Leave feedback'|trans }}';
        const LOAD_MORE = '{{ 'Load more'|trans }}';
    </script>
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block nav_home %}active{% endblock %}

{% block content %}
    {% set extensionUrl = 'https://chrome.google.com/webstore/detail/dealtabs-browser-tab-orga/hfojefnbjfhacmgjnoijcbmakplknmhk/related?hl=' ~ app.request.locale %}
    {% if isOpera() %}
        {% set extensionUrl = 'https://addons.opera.com/' ~ app.request.locale ~ '/extensions/details/install-chrome-extensions/' %}
    {% endif %}
    {% if isFirefox() %}
        {% set extensionUrl = 'https://addons.mozilla.org/' ~ app.request.locale ~ '/firefox/addon/dealtabs/' %}
    {% endif %}

    <div class="container-fluid" id="video-section">
        <div class="row">
            <div class="col-lg-6 text-center d-flex align-items-center" id="video-title-section">
                <div>
                    <h6>
                        <span class="title"><i class="far fa-folder-open"></i> DealTabs </span>
                        <span class="subtitle">- {{ 'browser tabs organizer. Access your tabs on mobile and web.'|trans }}</span>
                    </h6>
                    <div class="add-button">
                        <a href="{{ extensionUrl }}" class="btn btn-lg btn-primary">
                            <i class="fas fa-fire"></i> {{ 'Add to your browser for free'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <video loop muted autoplay class="shadow-lg">
                        <source src="{{ asset('static/test_1.mp4') }}">
                    </video>
                </div>
            </div>
        </div>
    </div>

    {% set galleryData = [] %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/1.png'),
        'title': 'Tired of tab mess in your workspace?'|trans,
        'text': 'Save all your opened tabs/windows in one click!'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/2.png'),
        'title': 'Forget about browser bookmarks!'|trans,
        'text': 'All windows and tabs are organized and saved in cloud'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/3.png'),
        'title': 'Wide functionality'|trans,
        'text': 'Open, merge, replace tabs/windows as you want'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/4.png'),
        'title': 'Simple UI interface built on React'|trans,
        'text': 'Edit, share, delete, order sessions simple and fast'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/5.png'),
        'title': 'Save as many sessions as you want'|trans,
        'text': 'and access them anywhere from any device'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/6.png'),
        'title': 'Share sessions between accounts'|trans,
        'text': 'Get a link for a session you want to share and send it to a new owner!'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/7.png'),
        'title': 'Quick tabs section'|trans,
        'text': 'Save your favourite tabs to access them faster'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/8.png'),
        'title': 'Archived tabs'|trans,
        'text': 'All of your deleted sessions are saved in archive to prevent accidental data loss'|trans
    }]) %}
    {% set galleryData = galleryData|merge([{
        'img': asset('images/home_page/en/extension/9.png'),
        'title': 'Live synchronization'|trans,
        'text': 'Enable real-time synchronization between your devices. No need to send them via private messages any more'|trans
    }]) %}

    <div class="container mt-2" id="gallery-section">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
            {% for item in galleryData %}
                <div class="col">
                    <div class="card shadow-lg">
                        <img loading="lazy" src="{{ item.img }}" class="card-img-top" alt="{{ item.title }}">
                        <div class="card-body">
                            <h6 class="card-title">{{ item.title }}</h6>
                            <p class="card-text">{{ item.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container" id="reviews-section">
        <div class="row text-center">
            <div class="p-0">
                <h6 class="text">{{ 'What'|trans }} <span
                            class="strong">{{ 'people say'|trans }}</span> {{ 'about us'|trans }}...</h6>
            </div>
        </div>
    </div>
    <div class="container" id="reviews"></div>

    <div class="container" id="try-out-section">
        <div class="row text-center">
            <div class="p-0">
                <h6 class="text">{{ 'DealTabs organizes'|trans }} <span
                            class="strong">{{ 'Your Tab Mess'|trans }}</span> {{ 'in one click.'|trans }} {{ 'Simple and fast.'|trans }}
                </h6>
                <div class="add-button">
                    <a href="{{ extensionUrl }}" class="btn btn-lg btn-primary">
                        <i class="fas fa-fire"></i> {{ 'Try out for free'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
{% endblock %}