{% extends 'site/layout.html.twig' %}

{% block content %}
    <div class="container mt-30">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-md-10 col-12 text-left fw-700 heading-section ftco-animate">
                <h2>
                    <strong class="bg-header">{{ 'Refund policy'|trans }}</strong>
                </h2>
                <main id="content" class="b-content">
                    <div class="preview">
                        <p>We accept one-time & recurring payments.</p>
                        <p>None of them may be returned. But if you chosen recurring payment, you can cancel it in your membership using this <a href="{{ env('UI_HOST') ~ '/membership' }}">link</a> at any time.</p>
                        <p>After cancellation we will continue to provide premium features for you until the last payment date you paid for ends.</p>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}