{% extends 'site/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const TRANSLATION = {
            save_to_account: '{{ 'Save to my account'|trans }}',
            "You are the owner of this session": '{{ 'You are the owner of this session'|trans }}',
            success: '{{ 'Success'|trans }}',
            saved: '{{ 'Saved'|trans }}',
            "This feature is available only for premium users": '{{ 'This feature is available only for premium users'|trans }}'
        };

        const SHARE_REFERENCE_ID = '{{ shareReference }}';
    </script>

    {{ encore_entry_script_tags('shared-session') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('shared-session') }}
{% endblock %}

{% block content %}
    <div class="container" id="title-section">
        <div class="row text-center">
            <div>
                <h3>
                    <span class="title">{{ session.user.name|capitalize }} </span>
                    <span class="subtitle">({{ session.user.email }})</span>
                    <span class="subtitle">{{ 'shared with you'|trans }}</span>
                </h3>
                <h2>
                    <span class="title"><i class="far fa-bookmark"></i> {{ session.name }}</span>
                </h2>
                <div id="save-shared-session">

                </div>
            </div>
        </div>
    </div>

    <div class="container mt-30 mb-30">
        {% for window in session.windows %}
            {% if window['is_enabled'] %}
                <div class="row justify-content-center {% if loop.index0 > 0 %}mt-30{% endif %}">
                    <div class="col">
                        <div class="card shadow-lg">
                            <div class="card-header text-center">
                                {% set tabsLength = 0 %}
                                {% for tab in window.tabs %}
                                    {% if tab['is_enabled'] %}
                                        {% set tabsLength = tabsLength + 1 %}
                                    {% endif %}
                                {% endfor %}

                                {{ window.name ? window.name : ('Window'|trans ~ ' #' ~ loop.index) }} ({{ 'tabs'|trans }} : {{ tabsLength }})
                            </div>
                            <div class="card-body p-0">
                                <div class="list-group">
                                    {% for tab in window.tabs %}
                                        {% if tab['is_enabled'] %}
                                            <a href="{{ tab.url }}" class="list-group-item list-group-item-action">
                                                <img onError="this.onerror=null;this.src='{{ asset('no-tab-icon-replacer.png') }}';" class="img" height="16px" width="16px" src="{{ tab.icon ? tab.icon : asset('no-tab-icon-replacer.png') }}">
                                                <span class="ml-2">{{ tab.name }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}