@import "misc";

html {
    font-size: 18px;
}

body {
    background-color: #f3f8fb;
}

#page {
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: 60px 1fr 70px;
    grid-template-columns: 100%;

    header {
        grid-area: header;

        nav {
            margin: 0;
            height: 100%;
        }

        //border-bottom: solid 1px #c1bebe;

        #navbar-container {
            background-color: #f8f9fa;
            z-index: 999;
            padding-top: 5px;
            @media (max-width: 969px) {
                padding-bottom: 10px!important;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            }
        }
    }

    main {
        grid-area: content;
        background-color: #f3f8fb;
        min-height: 750px;
    }

    footer {
        grid-area: footer;
        background-color: #f8f9fa;
        border-top: solid 1px #c1bebe;

        .container {
            height: 100%;

            .row {
                height: 100%;
            }
        }
    }
}

.nav-locales {
    a:hover {
        color: #0dcaf0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 17px!important;
    }
}

.footer-link {
    text-decoration: underline;
    color: black;

    &:hover {
        color: #0c63e4;
    }
}