<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'DealTabs – Browser Tab Organizer'|trans }}{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{{ 'DealTabs is a simple and lightweight extension that allows you to save all tabs in open browser window. This way you can switch from project to project or between work and home tabs in a second, without having a mess of tabs and windows.'|trans }}{% endblock %}">
        <meta name="title" content="{% block metaTitle %}{{ 'DealTabs – Browser Tab Organizer'|trans }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:url" content="https://tabscout.com">
        <meta property="og:type" content="publicsite">
        <meta property="og:title" content="{% block ogTitle %}{{ 'DealTabs – Browser Tab Organizer'|trans }}{% endblock %}">
        <meta property="og:description" content="{{ 'DealTabs is a simple and lightweight extension that allows you to save all tabs in open browser window. This way you can switch from project to project or between work and home tabs in a second, without having a mess of tabs and windows.'|trans }}">
        <meta property="og:image" content="https://tabscout.com/img/oggifbig.gif">
        <meta property="og:image:type" content="image/gif">
        <meta property="og:image:width" content="1600">
        <meta property="og:image:height" content="1000">
        <meta property="fb:app_id" content="515974779224794">

        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-public-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180090312-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-180090312-1');
        </script>
        <script>
            const API_HOST = '{{ env('API_HOST') }}';
            const LOCALE = '{{ app.request.locale }}';
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
