{% extends 'site/base.html.twig' %}

{% block body %}
    <div id="page">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm pt-0">
                <div class="container-fluid" id="navbar-container">
                    <a class="navbar-brand d-flex align-items-center" href="{{ path('site_index') }}">
                        <img src="{{ asset('favicon.ico') }}" alt="" width="24px" height="24px" class="d-inline-block align-top">
                        <span class="ml-2">DealTabs</span>
                    </a>
                    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% block nav_home %}{% endblock %}" aria-current="page" href="{{ path('site_index') }}">{{ 'Home'|trans }}</a>
                            </li>
                            {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link {% block nav_sign_in %}{% endblock %}" href="{{ path('user_login') }}">{{ 'Sign in'|trans }}</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ env('UI_HOST') }}">{{ 'Manage sessions'|trans }}</a>
                                </li>
                            {% endif %}

                            <li class="nav-item dropdown dropleft {% block nav_docs %}{% endblock %}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-expanded="false">
                                    ...{{ 'More'|trans }}
                                </a>
                                <ul class="dropdown-menu nav-locales" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('site_privacy_policy') }}">
                                            <span>{{ 'Privacy policy'|trans }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('site_terms_and_conditions') }}">
                                            <span>{{ 'Terms and conditions'|trans }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('site_refund_policy') }}">
                                            <span>{{ 'Refund policy'|trans }}</span>
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('site_contact_us_index') }}">
                                            <span>{{ 'Our contacts'|trans }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="mailto:webutonlabs@gmail.com">
                                            <span>{{ 'Write us an email'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown dropleft {% block nav_faq %}{% endblock %}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-expanded="false">
                                    FAQ
                                </a>
                                <ul class="dropdown-menu nav-locales" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('how_to_delete_account') }}">
                                            <span>{{ 'How can i delete my account?'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                            <li class="nav-item dropdown dropleft">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-expanded="false">
                                    {{ app.request.locale|upper }}
                                </a>
                                <ul class="dropdown-menu nav-locales" aria-labelledby="navbarDropdownMenuLink">
                                    {% set locales = ['ru', 'en'] %}
                                    {% for locale in locales %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params|merge({ _locale: locale })) }}">
                                            <img width="45px" height="32px" src="{{ asset('images/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}">
                                            <span style="margin-left: 20px;">{{ locale|upper }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <div class="row justify-content-center text-center align-items-center mt-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 col-12 text-left mt-2">
                                <div>{{ 'Contact us'|trans }}:</div>
                                <div>Email: <a class="footer-link" href="mailto:webutonlabs@gmail.com">webutonlabs@gmail.com</a></div>
                            </div>
                            <div class="col-md-4 col-12 text-left mb-2 mt-2">
                                <div><a class="footer-link" href="{{ path('site_privacy_policy') }}">{{ 'Privacy policy'|trans }}</a></div>
                                <div><a class="footer-link" href="{{ path('site_terms_and_conditions') }}">{{ 'Terms and conditions'|trans }}</a></div>
                                <div><a class="footer-link" href="{{ path('site_refund_policy') }}">{{ 'Refund policy'|trans }}</a></div>
                            </div>
                            <div class="col-md-4 col-12 mb-1 mt-2">
                                <img class="img-fluid" src="{{ asset('images/fondy_logo_cards.png') }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-4 mt-3">
                            Copyright &copy;{{ ''|date('Y') }} {{ 'All rights reserved'|trans }}.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}