{% extends 'site/layout.html.twig' %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h6>{{ 'Why are you uninstalling us? :('|trans }}</h6>
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}