{% extends 'site/layout.html.twig' %}

{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-12 text-center">
                <h1>{{ 'Thank you for your feedback'|trans }}</h1>
            </div>
        </div>
    </div>
{% endblock %}