#title-section {
  margin-top: 30px;

  .title {
    font-size: 2.2rem;
    background: #ecf3fa;
    padding: 7px;
    color: #0d6efd;
  }

  .subtitle {
    font-size: 2rem;
    margin-left: 15px;
    font-weight: 300;
  }

  .add-button {
    margin-top: 20px;

    button {
      border-radius: 30px;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  @media (max-width: 524px) {
    .title {
      font-size: 1.2rem!important;
    }
    .subtitle {
      font-size: 1rem!important;
      margin-left: 10px!important;
    }
  }
}

.list-group {
  a {

    &:hover {
      color: #ffffff;
      background-color: #007bff;
      font-weight: 700;
    }

    @media (max-width: 524px) {
      font-size: .7rem;
    }
  }

  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}