{% extends 'site/layout.html.twig' %}

{% block nav_sign_in %}active{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const TRANSLATION = {
            title: '{{ 'Sign in'|trans }}',
            google: '{{ 'Sign In With Google'|trans }}',
            facebook: '{{ 'Sign In With Facebook'|trans }}',
            forgot_password: '{{ 'Forgot password?'|trans }}',
            login_input_label: '{{ 'Email address'|trans }}',
            password_input_label: '{{ 'Password'|trans }}',
            form_save_text: '{{ 'Sign in'|trans }}',
            invalid_email_message: '{{ 'Invalid email'|trans }}',
            invalid_password_length_message: '{{ 'Password is too short'|trans }}',
            sign_up: '{{ 'Sign Up'|trans }}'
        }

        const CSRF_TOKEN = '{{ csrf_token('authenticate') }}';
        const REGISTRATION_URL = '{{ path('site_registration_index') }}';
        const PASSWORD_RECOVERY_URL = '{{ path('site_password_recovery_index') }}';
        const LAST_LOGIN = '{{ lastLogin }}';

        const FACEBOOK_APP_ID = '{{ env('FACEBOOK_APP_ID') }}';
        const GOOGLE_AUTH_URL = '{{ googleAuthUrl }}';

        const onFacebookLogin = () => {
            window.location.reload(true);
        }
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v9.0&appId={{ env('FACEBOOK_APP_ID') }}&autoLogAppEvents=1" nonce="PW1l7j14"></script>
    <script>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block content %}
    <div class="container mt-30">
        <div class="row">
            <div class="col">
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error|trans }}
                    </div>
                {% endif %}
                <div class="card shadow-lg" id="authentication-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

