{% extends 'site/layout.html.twig' %}

{% block nav_sign_in %}active{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('password-recovery') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const TRANSLATION = {
            title: '{{ 'Password recovery'|trans }}',
            email_input_label: '{{ 'Email address'|trans }}',
            password_input_label: '{{ 'New password'|trans }}',
            send_request: '{{ 'Request password change'|trans }}',
            reset_password: '{{ 'Reset password'|trans }}',
            invalid_password_length_message: '{{ 'Password is too short'|trans }}',
            invalid_code_length_message: '{{ 'Password is too short'|trans }}',
            sign_in: '{{ 'Sign In'|trans }}',
            user_not_found: '{{ 'User was not found'|trans }}',
            code_label: '{{ 'Code from email'|trans }}',
            code_is_sent_to_email: '{{ 'Code is sent to your email'|trans }}',
            invalid_email_message: '{{ 'Invalid email'|trans }}',
            success: '{{ 'Success. Redirecting...'|trans }}',
            code_not_found: '{{ 'Code was not found' }}'
        }

        const LOGIN_URL = '{{ path('user_login') }}';
    </script>

    {{ encore_entry_script_tags('password-recovery') }}
{% endblock %}

{% block content %}
    <div class="container mt-30">
        <div class="row">
            <div class="col">
                <div class="card shadow-lg" id="password-recovery-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

