{% extends 'site/layout.html.twig' %}

{% block nav_sign_in %}active{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const TRANSLATION = {
            title: '{{ 'Sign Up'|trans }}',
            google: '{{ 'Sign Up With Google'|trans }}',
            facebook: '{{ 'Sign Up With Facebook'|trans }}',
            email_input_label: '{{ 'Email address'|trans }}',
            password_input_label: '{{ 'Password'|trans }}',
            name_input_label: '{{ 'Name'|trans }}',
            surname_input_label: '{{ 'Surname (not required)'|trans }}',
            form_save_text: '{{ 'Sign Up'|trans }}',
            invalid_email_message: '{{ 'Invalid email'|trans }}',
            invalid_name_message: '{{ 'Invalid name'|trans }}',
            invalid_password_length_message: '{{ 'Password is too short'|trans }}',
            sign_in: '{{ 'Sign In'|trans }}',
            user_exists_msg: '{{ 'User already exists'|trans }}',
            email_confirmation_message: '{{ 'Check your email for confirmation link!'|trans }}',
            email_is_resent: '{{ 'Email is successfully resent'|trans }}',
            email_is_sent_to: '{{ 'Confirmation email is sent to'|trans }}',
            did_not_receive_email: '{{ 'Did not receive email?'|trans }}',
            resend_in: '{{ 'Resend email in'|trans }}',
            seconds: '{{ 'seconds'|trans }}',
            resend_email: '{{ 'Resend email'|trans }}'
        }

        const LOGIN_URL = '{{ path('user_login') }}';
    </script>

    {{ encore_entry_script_tags('registration') }}
{% endblock %}

{% block content %}
    <div class="container mt-30">
        <div class="row">
            <div class="col">
                <div class="card shadow-lg" id="registration-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

