.footer-buttons {
  button {
    margin-top: 3px;
    font-size: 0.8rem;
    font-weight: 600;

    &:hover {
      color: #0dcaf0;
    }

    &:not(:first-child) {
      margin-left: 9px;
    }
  }
}

.title {
  background: #ecf3fa;
  padding: 7px;
  color: #0d6efd;
}