#video-title-section {
  .title {
    font-size: 2.2rem;
    color: #0d6efd;
  }

  .subtitle {
    font-size: 2rem;
    margin-left: 10px;
    font-weight: 500;
  }

  .add-button {
    margin-top: 40px;

    a {
      border-radius: 30px;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 15px;
  }

  @media (max-width: 524px) {
    .title {
      font-size: 1.4rem!important;
    }
    .subtitle {
      font-size: 1.2rem!important;
      margin-left: 10px!important;
    }

    .add-button {
      margin-top: 20px!important;
    }
  }
}

#gallery-section {
  margin-bottom: 30px;

  .card {
    margin-top: 20px;

    .card-title {
      font-weight: 600;
    }

    img {
      height: 265px;
      border-bottom: solid 1px #c1bebe;
    }
  }

  @media (min-width: 750px) {
    .card {
      height: 440px;
    }
  }
}

#try-out-section, #reviews-section {
  margin-top: 50px;
  margin-bottom: 30px;

  .text {
    font-size: 1.8rem;
    .strong {
      background: #ecf3fa;
      color: #0d6efd;
    }
  }

  .add-button {
    margin-top: 40px;

    a {
      border-radius: 30px;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  @media (max-width: 524px) {
    .text {
      font-size: 1.4rem!important;
    }

    .add-button {
      margin-top: 20px!important;
    }
  }
}

div:focus {
  outline: none;
}

#video-section {
  background: linear-gradient(-45deg, #749ff5, #ecf3fa, #f3f8fb, #f3f8fb);

  video {
    width: 100%;
    height: auto;
  }

  .video-title {

  }
}